img {
  image-orientation: from-image;
}

.center-element {
  text-align: center;
}

#map-select label {
  margin-bottom: 0px;
}

.leaflet-control-scale-line {
  background: rgba(255, 255, 255, 0.8);
}

.leaflet-popup-close-button {
  display: none;
}

.menu-text {
  text-decoration: none;
  color:#2c0c3d;
}

.map {
  height: calc(100vh - 35px);
  position: sticky;
  top: 0;
}

#info-card-body img {
  max-width: 100%;
}

#accordian {
  position: absolute;
  top: 0;
  z-index: 1000;
}

#maps-card {
  position: absolute;
  top: 50;
  min-width: 25vw;
  max-width: 40vw;
  z-index: 1000;
  background-color: rgb(255,233,188,1);
  max-height: 70vh;
  overflow: auto;
}

#info-card {
    position: absolute;
    bottom: 50;
    min-width: 25vw;
    max-width: 40vw;
    z-index: 1000;
    background-color: rgb(255,233,188,1);
    max-height: 70vh;
  }
}

#collapseOne {
  overflow-y: scroll;
}

#collapseTwo {
  overflow-y: scroll;
  text-align: justify;
}

/* Scrollbar Options */

/* width */
::-webkit-scrollbar {
  width: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media (min-width: 768px) {
  #accordian {
    min-width: 25vw;
    max-width: 40vw;
  }
}

@media (min-width: 992px) {
  #accordian {
    min-width: 25vw;
    max-width: 40vw;
  }
}
.leaflet-div-icon {
  background: none;
  border: none;
  font-size: 250%;
}

#clear-map-button {
  position: absolute;
  bottom: 75;
  right: 25;
  z-index: 1000;
}

.footnotes-list {
  text-align: left;
}

.gallery-link:hover > .img-fluid {
  opacity: 0.6;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: center;
}

.leaflet-popup-content-wrapper {
  background: rgba(255,255,255,0.8);
}

.leaflet-popup-tip {
  display: none;
}
