    <div class="menu-item">
        <a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)"
          href="{{ .Permalink }}" class="menu-link clicky-card" rel="bookmark">
            <div class="caption">
                <div class="caption-content">
                  <h2 class="card-title">{{ .Title }}</h2>
                </div>
            </div>
            {{ with .Resources.GetMatch "featuredImage" }}
              <picture>
                {{ with $.Resources.GetMatch (replace (.Title) (path.Ext (.Title)) ".webp") -}}
                <source srcset="{{ .Permalink }}" type="image/webp">
                {{- end }}
                {{ $thumbnail := .Fit "300x330 Lanczos" }}
                <source srcset="{{ $thumbnail.Permalink }}">
                <img src="{{ $thumbnail.Permalink }}" class="card-img">
              </picture>
            {{- end }}
        </a>
    </div>
