<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="single-body">
    <div class="invisible">
      <div id="geojson">{{ .Params.geojson }}</div>
      <div id="coords">{{ .Params.coords }}</div>
      <div id="zoom">{{ .Params.zoom }}</div>
    </div>
    <div id="text-box">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
        <header class="post-header">
        	<h1 class="post-title">
            {{ .Title }}
            <a class="btn back-button" href="{{ .Site.BaseURL }}"><i class="fas fa-arrow-left fa-2x"></i></a>
          </h1>
          <p class="post-date">{{ .Parent.Title }}</p>
        </header>
        {{ .Content }}
      </article>
    <div id="map-box">
      <div id="mapdiv">
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
