<form id="map-select" style="overflow: auto;">
  <div>
    Mathura:
    </div>
  <label><input type="radio" value="27.510112720964297,77.66918241977692" data-zoom="17" data-name="GovindNagar" name="mapChoice" checked="checked">Govind Nagar</label><br>
  <label><input type="radio" value="27.505230,77.666920" data-zoom="17" data-name="KrishnaJanmbhumi" name="mapChoice">Krishna Janmbhumi</label><br>
  <label><input type="radio" value="27.4911,77.6619" data-zoom="16" data-name="BSACollege" name="mapChoice">BSA College Road</label><br>
  <label><input type="radio" value="27.5036, 77.67995" data-zoom="16" data-name="OldMathura" name="mapChoice">Old Mathura</label><br>
  <label><input type="radio" value="27.518454,77.672675" data-zoom="18" data-name="Tapobhumi" name="mapChoice">Gayatri Tapobhumi</label><br>
  <label><input type="radio" value="27.529107,77.673172" data-zoom="18" data-name="GayatriPress" name="mapChoice">Gayatri Pariwar Press</label><br>
  <label><input type="radio" value="27.5045,77.6763" data-zoom="14" data-name="Parikrama" name="mapChoice">Mathura Parikrama</label><br>
  <br>
  <div>
    Mount Abu:
    </div>
  <label><input type="radio" value="24.598417,72.706788" data-zoom="17" data-name="PandavBhawan" name="mapChoice">Pandav Bhawan</label><br>
  <label><input type="radio" value="24.602661,72.734563" data-zoom="17" data-name="GyanSarovar" name="mapChoice">Gyan Sarovar</label><br>
  <label><input type="radio" value="24.53118,72.7931946516037" data-zoom="17" data-name="Shantivan" name="mapChoice">Shantivan</label><br>
  <br>
  <div>
    Shantikunj:
    </div>
    <label><input type="radio" value="29.9910230475874,78.18984746932982" data-zoom="17" data-name="Shantikunj" name="mapChoice">Shantikunj</label><br>
</form>
