{{ define "main" }}

<div id="accordion">

  <div id="maps-card" class="card">
    <div class="card-header">
      <span id="maps-card-text">Maps</span>
      <button class="card-link close" data-toggle="collapse" data-target="#collapseOne">
        <i class="fa fa-arrows-alt-v"></i>
      </button>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div id="button-card-body" class="card-body">
        {{ partial "maps-buttons" . }}
      </div>
    </div>
  </div>

  <div id="info-card" class="card">
    <div class="card-header">
      <span id="info-card-text">Location Info</span>
      <button class="collapsed card-link close" data-toggle="collapse" data-target="#collapseTwo">
        <i class="fa fa-arrows-alt-v"></i>
      </button>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div id="info-card-body" class="card-body">
        <!-- Get Content -->
      </div>
    </div>
  </div>

</div>

<div class="map" id="mapdiv">
</div>

<div id="clear-map-button">
  <button onclick= "$('.leaflet-marker-icon').remove(), $('.leaflet-interactive').remove()" >Clear Map</button>  
  </div>

{{ .Content }}

{{end}}
